<h1>GigHub</h1>

  <h2>Calendar of Events</h2>

  <% @events.each do |event| %>
      <div class="listing">
        <%= event.title %>
        <%= event.venue.name %>
        <%= event.datetime_local %>
      </div>
  <% end %>
