body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  width: 800px;

  h1 {
    text-align: center;
  }

  .banner {
    font-size: 72px;
    text-align: center;

    h1 {
      margin: 0;
    }
  }

  .listing {
    border-bottom: 1px solid black;
    padding: 50px;

    input {
      float: left;
    }
  }

  .navbar {
    border: 2px solid black;
    left: 1px;
    position: fixed;
    top: 200px;

    ul {

      li {
        right: 20px;
        list-style-type: none;
        padding: 25px 0;
        position: relative;
      }
    }
  }

  .listing {

    iframe {
      float: right;
      height: 75px;
      position: relative;
      bottom: 30px;
    }

    img {
      float: right;
      height: 75px;
      position: relative;
      bottom: 30px;
    }

    input {
      bottom: 40px;
      right: 40px;
      position: relative;
      background-color: #ccc;
      color: #fff;
      font-size: 20px;
      height: 100px;
      text-decoration: none;
      cursor: pointer;
      border:none;

      &:hover {
        border: none;
        background:black;
        box-shadow: 0px 0px 1px #777;
      }
    }

  }
}
