body {
  background-color: #E6E6E6;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  width: 800px;

  h1 {
    text-align: center;
  }

  .banner {
    font-size: 72px;
    text-align: center;

    h1 {
      margin: 0;
    }
  }

  .date {

    h2 {
      clear: both;
    }
  }

  .listing {
    padding: 25px;

    input {
      float: left;
    }
  }

  .navbar {
    background-color: white;
    border-radius: 10px 40px 40px 10px;
    box-shadow: 0px 0px 1px #777;
    left: 10px;
    position: fixed;
    top: 200px;
    width: 15%;

    ul {

      li {
        right: 20px;
        list-style-type: none;
        padding: 25px 0;
        position: relative;
      }
    }
  }

  .listing {
    background-color: white;
    border-radius: 5px;
    margin: 5px 0;
    min-height: 40px;

    a {
      text-decoration: none;
    }

    iframe {
      float: right;
      height: 75px;
      position: relative;
      bottom: 30px;
    }

    img {
      float: right;
      height: 80px;
      position: relative;
      bottom: 43px;
    }

    input {
      border-radius: 5px 0 0 5px;
      bottom: 25px;
      right: 27px;
      position: relative;
      background-color: #ccc;
      color: #fff;
      font-size: 20px;
      height: 97px;
      text-decoration: none;
      cursor: pointer;
      border:none;

      &:hover {
        border: none;
        background:black;
        box-shadow: 0px 0px 1px #777;
      }
    }

    .event{
      font-size: 20px;
      margin-bottom: 15px;
    }

  }
}
