body {
  border: 1px solid red;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  width: 800px;

  h1 {
    text-align: center;
  }

  .banner {
    font-size: 72px;
    text-align: center;

    h1 {
      margin: 0;
    }
  }

  .listing {
    border-bottom: 1px solid black;
    padding: 50px;

    input {
      float: left;
    }
  }

  .navbar {
    left: 1px;
    position: fixed;
    top: 200px;

    ul {

      li {
        list-style-type: none;
        padding: 25px 0;
      }
    }
  }

  .listing {

  }
}
